@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

select {
    -webkit-appearance: none;
    appearance: none;
}